name: trigger jenkins job
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: trigger Job without parameters
        uses: ./
        with:
          url: https://jenkins.com
          user: jenkins
          token: ${{ secrets.TOKEN }}
          job: AIDE_TEST
          insecure: true

      - name: set random word
        id: random-word
        run: |
          echo TEST1234=$(openssl rand -hex 12) >> $GITHUB_OUTPUT

      - name: trigger Job with parameters
        uses: ./
        with:
          url: https://jenkins.com
          user: jenkins
          token: ${{ secrets.TOKEN }}
          job: AIDE_TEST2
          insecure: true
          parameters: parameter01=${{ steps.random-word.outputs.TEST1234 }}
